<div class="row">
  <div class="col-6">
    <h2>ToDo List</h2>
    <div class="row my-2">
      <span class="col-3">Title</span>
      <input type="text" [(ngModel)]="task_title" class="col-9 form-control" />
    </div>
    <div class="row my-2">
      <span class="col-3">Description</span>
      <textarea
        class="col-9 form-control"
        type="text"
        [(ngModel)]="task_description"
      ></textarea>
    </div>

    <div class="row my-2">
      <span class="col-3">Date</span>
      <input class="col-9 form-control" type="date" [(ngModel)]="task_date" />
    </div>

    <div>
      <button type="button" class="btn btn-success" (click)="addTask()">
        Save
      </button>
    </div>
  </div>

  <div class="col-6">
    <div
      class="btn-group mx-2"
      role="group"
      aria-label="Basic radio toggle button group"
    >
      <input
        type="radio"
        class="btn-check"
        name="btnGroupRadio"
        id="btnRadio1"
        autocomplete="off"
        (click)="filterActive()"
      />
      <label class="btn btn-outline-primary" for="btnRadio1">Active</label>

      <input
        type="radio"
        class="btn-check"
        name="btnGroupRadio"
        id="btnRadio2"
        autocomplete="off"
        (click)="filterCompleted()"
      />
      <label class="btn btn-outline-primary" for="btnRadio2">Completed</label>
<!-- 
      <input
        type="radio"
        class="btn-check"
        name="btnGroupRadio"
        id="btnRadio3"
        autocomplete="off"
        (click)="filterDeleted()"
      /> -->
      <!-- <label class="btn btn-outline-primary" for="btnRadio3">Deleted</label> -->
      <input
        type="radio"
        class="btn-check"
        name="btnGroupRadio"
        id="btnRadio4"
        autocomplete="off"
        checked=""
        (click)="filterAll()"
      />
      <label class="btn btn-outline-primary" for="btnRadio4">All</label>
    </div>
    <div
      class="card mx-2"
      [ngClass]="
        task.estado == true
          ? 'text-decoration-line-through'
          : 'text-decoration-none'
      "
      *ngFor="let task of tasksToShow | async; index as i "
    >
      <div class="card-header">Task #{{ i + 1 }}</div>
      <div class="card-body">
        <h5 class="card-title">{{ task.nombre }}</h5>
        <p class="card-text">
          {{ task.descripcion }}
        </p>

        <input type="checkbox" class="check m-1" [(ngModel)]="task.estado" (change)="updateTask(task.id, task)" />
        <a class="btn btn-danger" (click)="deleteTask(task.id)">Delete</a>
      </div>
      <!-- <div class="card-footer text-muted">{{ task.date }}</div> -->
    </div>
  </div>
</div>
