<div *ngIf="products.length > 0" class="container-fluid  p-5">
  <div class="row">
    <div class="col-sm-2">
      <div class="card mt-5">
        <div class="card-body">
          <div >
            <div>
              <div class="d-flex flex-column">
                <label for="inputTitle" class="form-label">Filtro por nombre del producto</label>
                <input id="inputTitle" type="text" name="title" [(ngModel)]="title" aria-label="title-search" aria-describedby="inputGroup-sizing-default">
              </div>
              <div class="d-flex flex-column my-3">
                <p class="form-label m-0">Rango de precios</p>
                <div class="row">
                  <label for="minPrice">Min</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="minPrice" type="number" min="0" max={{maxPrice}} name="minPrice" [(ngModel)]="minPrice" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div> 
                </div>
                <div class="row">
                  <label for="maxPrice">Max</label>
                  <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input id="maxPrice" type="number" min={{minPrice}} name="maxPrice" [(ngModel)]="maxPrice" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <span class="input-group-text">.00</span>
                  </div> 
                </div>
              </div>
              <button class="btn btn-outline-dark m-2" (click)="getFilteredProducts(); getFilteredProductsWithoutPrice()">Filtrar</button>
              <button class="btn btn-outline-dark m-2" (click)="clearFilters(); getFilteredProductsWithoutPrice()">Limpiar Filtros</button>
              <div *ngIf='mensaje != ""' class="alert alert-info" role="alert">
                {{mensaje}}
            </div>
          </div>
        </div>
        </div>
      </div>

    </div>
    <div class="col-sm-10">
      <h3 class="mx-4 my-1">{{categoryName}}</h3>
      <div class="row">
        <div class="col-md-4 col-sm-6 col-lg-3" *ngFor="let product of products">
          <div class="card m-3 " routerLink="/product/{{product.id}}">
            <div class="img-home m-3">
                <img
                  src="{{product.images[0]}}"
                  class="card-img-top "
                  alt="{{product.title}}"
                />
            </div>
            <div class="card-body">
              <h4 class="card-title">{{product.title}}</h4>
              <p class="card-text">
                {{product.description}}
              </p>
              <h5>${{product.price}}</h5>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="products.length <= 0" class="container vh-100 d-flex justify-content-center align-items-center">
  <div>
    <h2>No hay productos para mostrar</h2>
    <button class="btn btn-outline-dark m-2" (click)="resetProductList()" routerLink="/products">Seguir comprando</button>
  </div>div>
</div>

