<div id="carouselWithControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner" *ngFor="let guitar of guitars">
    <div class="carousel-item active">
      <img src="{{ guitar.imgSrc }}" class="d-block w-100" alt="Slide 1" />
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselWithControls"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselWithControls"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>
  </div>
</div>
