<div class="d-flex flex-column flex-shrink-0 p-3 bg-primary-subtle nav-bar">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
  >
    <span class="fs-4">TASKS</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/ToDoList" class="text-decoration-none text-black"
        >Task 1: ToDo List</a
      >
    </li>
    <li>
      <a
        routerLink="/TheSimpsonsCharacterList"
        class="text-decoration-none text-black"
        >Task 2: The Simpsons Character List</a
      >
    </li>
    <li>
      <div>
        <a routerLink="/RickAndMortyList" class="text-decoration-none text-black"
          >Task 3: Rick And Morty List</a
        >
      </div>
    </li>
    <li>
      <div>
        <a routerLink="/pipesPractice" class="text-decoration-none text-black"
          >Task extra: Pipes Practice</a
        >
      </div>
    </li>
    <li></li>
    <li></li>
  </ul>
  <hr />
</div>
